body {
  padding: 10px;
  margin: center;
}

table {
  width: 30%;
  border-collapse: collapse;
}

th {
  color: white;
  font-size: 15;
  text-align: center;
  background-color: orangered;
}

tr {
  color: red;
  font-family: "Open Sans", sans-serif;
  font-size: 12;
}

